<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bazar | {% block title %}{% endblock %}</title>
	</head>
	<body>
		<header class="header">
			<div class="header-wrapper">
			</div>
		</header>
		<div class="main">
			<div class="main-wrapper">
				{% block body %}{% endblock %}
			</div>
		</div>
		<footer class="footer">
			<div class="footer wrapper">
			</div>
		</footer>
	</body>
</html>
